<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/coment.css' />
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="ckeditor.js"></script>
	<script src="js/sample.js"></script>
	<link rel="stylesheet" href="css/samples.css">
	<link rel="stylesheet" href="toolbarconfigurator/lib/codemirror/neo.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105587501-1"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());
    gtag('config', 'UA-105587501-1');

  </script>
</head>

<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">JavaScript</a></li>
    <li><a href="#!">C#</a></li>
    <li class="divider"></li>
    <li><a href="#!">Inteligencia Artificial</a></li>
  </ul>
  <nav id="navegador">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-med-and-down">Oscar Code | Beta</a>
      <a href="/" class="brand-logo show-on-medium-and-down">Oscar Code</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/Oscar">Sobre mi</a></li>
        <li><a href="sass.html">Ovents</a></li>
        <li><a href="badges.html">Proyectos</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  
  {{{body}}}




  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Oscar Code</h5>
          <p class="grey-text text-lighten-4">Convierte tu imaginación en codigo.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li>
              <a href="https://github.com/OscarCode9"  target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i> </a>
              <a href="https://www.instagram.com/oscarmartinez04/"  target="_blank"><i class="fa fa-facebook-official fa-3x"aria-hidden="true"> </i></a>
              <a href="https://www.instagram.com/oscarmartinez04/"  target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true">  </i></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 By Oscar Martinez. Make with Handlebars and NodeJS
        <a class="grey-text text-lighten-4 right" href="#!">¿que onda?</a>
      </div>
    </div>
  </footer>
</body>
  

</html>