<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/css/coment.css' />
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <link rel=icon href='icon.png' sizes="32x32" type="image/png">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel='stylesheet' href='/css/style.css' />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=0" />
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105587501-1"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());
    gtag('config', 'UA-105587501-1');

  </script>
</head>

<body>
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <a href="#!">JavaScript</a>
    </li>
    <li>
      <a href="#!">C#</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#!">Inteligencia Artificial</a>
    </li>
  </ul>
  <nav id="navegador">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-med-and-down">O Code | Beta</a>
      <a href="/" class="brand-logo hide-on-large-only show-on-medium-and-down">O-Code</a>
      <ul class="right hide-on-med-and-down">

        <li>
          <a href="/Oscar">Sobre mi</a>
        </li>
        <li>
          <a href="/codeLife">Code life</a>
        </li>
        <li>
          <a href="/Proyectos">Proyectos</a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">Blog
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>

    </div>
  </nav>


  <ul id="slide-out" class="side-nav">

    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/Oscar">Sobre mi</a>
    </li>

    <li>
      <a href="/codeLife">Code life</a>
    </li>

    <li>
      <a href="/Proyectos">Proyectos</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a class="subheader">Oscar Code</a>
    </li>
    <li>
      <a class="waves-effect" href="/aboutReact">React...</a>
    </li>
  </ul>



  {{{body}}}

  <style>
    .side-nav {
      z-index: 99999;
    }
  </style>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".button-collapse").sideNav();
      $(window).scroll(function (event) {
        var nav = $('#navegador');

        var color = "#" + ((1 << 24) * Math.random() | 0).toString(16);

        var scroll = $(window).scrollTop();

        if (scroll > 210) {

          nav.addClass('navegador');
          nav.css("background-color", color);

        } else {

          nav.removeClass('navegador');
        }


      });
    });
  </script>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Oscar Code</h5>
          <p class="grey-text text-lighten-4">Convierte tu imaginación en codigo.</p>
          <a class="waves-effect waves-light btn" id="changeThema">
            Cambiar tema dark
          </a>

          <a class="waves-effect waves-light btn" id="changeThemalight">
            Cambiar tema light
          </a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li>
              <a href="https://github.com/OscarCode9" target="_blank">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>
              <a href="https://www.facebook.com/triste4/" target="_blank">
                <i class="fa fa-facebook-official fa-3x" aria-hidden="true"> </i>
              </a>
              <a href="https://www.instagram.com/oscarcode/" target="_blank">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"> </i>
              </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 By Oscar Martinez. Make with Handlebars and NodeJS
        <a class="grey-text text-lighten-4 right" href="#!">¿que onda?</a>
      </div>
    </div>
  </footer>


</body>

<style>
  * {
    background: black,
    color: white
  }
</style>

<script src="main.js"></script>
<script>


</script>


</html>