<div class="container">
  <div class="row">

    <form class="col s12 " id="addProductForm" enctype="multipart/form-data">
      <div class="row">

        <div class="input-field col s12">
          <input id="Titulo" type="text" name="titulo" class="validate">
          <label for="Titulo">Titulo</label>
        </div>

        <div class="input-field col s12">
          <textarea id="textarea1" name="descripcion" class="materialize-textarea"></textarea>
          <label for="textarea1">Descripción</label>
        </div>

        <div class="input-field col s12">
          <textarea id="textarea1" name="postName" class="materialize-textarea"></textarea>
          <label for="textarea1">Nombre del post</label>
        </div>
        

        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <input type="file"  name ="img" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" name ="imgName" placeholder="Upload one or more files">
          </div>
        </div>

        <div class="row center">
          <div class="col s12 m12 l12 ">
            <a class="waves-effect waves-light btn-large enviar">Enviar</a>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

<script>

  $(document).ready(function () {


    $('.enviar').click(async function () {

      var formElement = document.getElementById('addProductForm');

      Materialize.toast('Los datos se estan enviado a nuestros servidores, porfavor espere', 4000);

      try{

        const result = await fetch('/addPost', { method: 'POST', body: new FormData(formElement) });

        const mensaje = await result.json();

        Materialize.toast(mensaje.enviado, 3000);

      }catch(e){

        Materialize.toast(e, 3000);
      }

      
      

    })
  });

</script>