
  <div class="row">

    <div class="col s3">

      <div class="collection">
       
      <a href ="?tagId=NodeJS" class="collection-item tooltipped center-align" data-position="right" data-delay="50" data-tooltip="NodeJS">
        <img class="center-align"src="images/nodejs.png" alt=""/>
      </a>

      <a class="collection-item tooltipped center-align" data-position="right" data-delay="50" data-tooltip="ReactJS">
        <img class="center-align"src="images/reactjs.png" alt=""/>
      </a>

      <a class="collection-item tooltipped center-align" data-position="right" data-delay="50" data-tooltip="JavaScript">
        <img class="center-align"src="images/js.png" alt=""/>
      </a>

      <a class="collection-item tooltipped center-align" data-position="right" data-delay="50" data-tooltip="C#">
        <img class="center-align"src="images/c-sharp.png" alt=""/>
      </a>

      <a class="collection-item tooltipped center-align" data-position="right" data-delay="50" data-tooltip="Mongo">
        <img class="center-align"src="images/mongo.png" alt=""/>
      </a>
     
     

        <a href="#!" class="collection-item">ReactJS</a>
        <a href="#!" class="collection-item">MySQL</a>
        <a href="#!" class="collection-item">JavaScript</a>
      </div>
    </div>

    <div class="col s9">
       <div class="row">
      <h3>Entradas mas recientes</h3>
      </div>

       <div class="row">

    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <a href="?id=45643"><img src="images/sample-1.jpg"></a>
          <span class="card-title">Consumir API desde reactJS</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
           <br>
           <p>13/09/2017</p>
        </div>
       
        <div class="card-action">
              <i class="fa fa-heart" aria-hidden="true">15   </i>
              <i class="fa fa-comment" aria-hidden="true">789</i>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/OXnjIOWHOJ8/maxresdefault.jpg">
          <span class="card-title">ReactJS</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div
    >
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.pinimg.com/736x/4a/19/2f/4a192f8127ddfb07bd305089e2e7983d--foto-tumblr-hipster-hipster-tumblr-pictures.jpg">
          <span class="card-title">Objetos en JavaScript</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.pinimg.com/736x/4a/19/2f/4a192f8127ddfb07bd305089e2e7983d--foto-tumblr-hipster-hipster-tumblr-pictures.jpg">
          <span class="card-title">Objetos en JavaScript</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>


  </div>
    </div>

  </div>
</div>

