<div id="reg_ai">
</div>



<div class="container">
  <div class="row center">
    <h2>쯈ue es Oscar Code?</h2>
    <p class="flow-text welcome">
      Bienvenido a mi sitio web donde publico cosas relacionadas con la programaci칩n, experimento con las
      distintas tecnolog칤as que conozco, hablo sobre
      algo de tecnolog칤as. Espero te agrade el viaje n.n/
    </p>
  </div>

  <pre><code class="language-javascript">
    function Bienvenidos() {
      if (Coffee.IsReady) {
        console.log("Bienvenidos a mi web");
        return true;
      }else {
        console.log("Lo siento, no puede navegar por aqui");
        return false;
    }
     
</code></pre>
</div>


<!-- 
<div class="row">

  
<div class="col s12 m12 l4 ">
    <div class="card">
      <div class="card-image darkTema">
        <a href="/blog">
          <img src="images/blog.jpg">
        </a>
      </div>
      <div class="card-content darkTema">
        <p>Blog personal, aqu칤 es donde publico temas relacionados con las tecnolog칤as que conozco as칤 como las cosas que estoy
          aprendiendo. Tambi칠n publico cosas personales relacionadas con libros, pel칤culas, viajes, ideas, en general temas
          que me interesan.</p>
      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/blog">Ir al blog</a>
      </div>
    </div>
  </div>




  <div class="col s12 m12 l6">


    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/Proyectos">
          <img class="imgPoryects" src="images/proyectos.gif">
        </a>
      </div>
      <div class="card-content darkTema">
        <p>Apartado para presentar mis diferentes proyectos, se da una breve explicaci칩n sobre el proyecto as칤 como las metodolog칤as
          y tecnolog칤as usadas.Publico proyectos personales como profesionales.</p>
      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/Proyectos">Ir a proyectos</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/codeLife">
          <img src="images/sample-1.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Aqui publicar칠 experimentos y cosas que hago con programaci칩n web, compartir el c칩digo para que otros puedan hacer
          lo mismo.
        </p>

      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/codeLife">Code life</a>
      </div>
    </div>
  </div>
</div>
  
 -->




<div class="container">

  <div class="row ">
    <h1 class="expe" >Experiencia profesional. </h1>
  </div>

  <div class="row">
    <div class="titleExpe">
      <h2 id="serverText" class="expe" >Backend </h2> <img  src="images/icons/servidor.png" id="server" alt="server">
    </div>


    <div class="row">
      <div class="col s12 m12 l4">
        <ul class="styleExperience">

          <li>
            <p id="nodejsText" class="textExpe">&#8226; </p>
            <img src="images/icons/nodejs.png" class="iconExpe" id="nodejs" alt="nodejs">
          </li>

          <li>
            <p id="expressText" class="textExpe">&#8226; </p>
            <img src="images/icons/expressjs.png" class="iconExpe" id="express" alt="express">
          </li>
          <li>
            <p id="springText" class="textExpe">&#8226; </p>
            <img src="images/icons/spring.png" class="iconExpe" id="spring" alt="spring">
          </li>

        </ul>
      </div>

      <div class="col s12 m12 l4">
        <ul class="styleExperience">
          <li>
            <p id="elasticSearchText" class="textExpe">&#8226; ElasticSearch </p>
            <img src="images/icons/elasticsearch.png" class="iconExpe" id="elasticSearch" alt="elasticSearch">
          </li>
          <li>
            <p id="netText" class="textExpe">&#8226; Web services .NET</p>
            <img src="images/icons/net.png" class="iconExpe" id="net" alt="net">
          </li>

          <li>
            <p id="mongodbText" class="textExpe">&#8226; Mongodb </p>
            <img src="images/icons/mongodb.png" class="iconExpe" id="mongodb" alt="mongodb">
          </li>

        </ul>
      </div>

      <div class="col s12 m12 l4">
        <ul class="styleExperience">

          <li>
            <p id="kafkaText" class="textExpe">&#8226; </p>
            <img src="images/icons/kafka.png" class="iconExpe" id="kafka" alt="kafka">
          </li>

          <li>
            <p id="apacheText" class="textExpe">&#8226; </p>
            <img src="images/icons/apache.png" class="iconExpe" id="apache" alt="apache">
          </li>

          <li>
            <p id="muleText" class="textExpe">&#8226; </p>
            <img src="images/icons/mule.png" class="iconExpe" id="mule" alt="mule">
          </li>

        </ul>
      </div>

    </div>

    <div class="row">

      <div class="titleExpe">
        <h2 id="interfazText" class="expe" >Frontend </h2> <img src="images/icons/interfaz.png" id="interfaz" alt="interfaz">
      </div>

      <div class="row">

        <div class="col s12 m12 l4">
          <ul class="styleExperience">
            <li>
              <p id="es6Text" class="textExpe">&#8226; </p>
              <img src="images/icons/es6.jpg" class="iconExpe" id="es6" alt="es6">
            </li>

            <li>
              <p id="reactText" class="textExpe">&#8226; </p>
              <img src="images/icons/react.jpg" class="iconExpe" id="react" alt="react">
            </li>

            <li>
              <p id="reduxText" class="textExpe">&#8226; </p>
              <img src="images/icons/redux.png" class="iconExpe" id="redux" alt="redux">
            </li>

          </ul>
        </div>

        <div class="col s12 m12 l4">
          <ul class="styleExperience">
            <li>
              <p id="jestText" class="textExpe">&#8226; </p>
              <img src="images/icons/jest.png" class="iconExpe" id="jest" alt="jest">
            </li>

            <li>
              <p id="materialText" class="textExpe">&#8226; MATERIAL-UI </p>
              <img src="images/icons/material.svg" class="iconExpe" id="material" alt="material">
            </li>

          </ul>


        </div>

      </div>


    </div>


    <div class="row">

      <div class="titleExpe">
        <h2 id="interfazText" class="expe">Cloud </h2> <img src="images/icons/cloud.png" id="cloud" alt="cloud">
      </div>

      <div class="row">
        <div class="col s12 m12 l4">
          <ul class="styleExperience">
            <li>
              <p id="herokuText" class="textExpe">&#8226; </p>
              <img src="images/icons/heroku.png" class="iconExpe" id="heroku" alt="heroku">
            </li>

            <li>
              <p id="amazonText" class="textExpe">&#8226; </p>
              <img src="images/icons/amazon.png" class="iconExpe" id="amazon" alt="amazon">
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="titleExpe">
        <h2 id="interfazText" class="expe">Automatizaci칩n y DevOps. </h2> <img src="images/icons/devops.png" id="devops"
          alt="devops">
      </div>

      <div class="row">
        <div class="col s12 m12 l4">
          <ul class="styleExperience">

            <li>
              <p id="dockerText" class="textExpe">&#8226; </p>
              <img src="images/icons/docker.png" class="iconExpe" id="docker" alt="docker">
            </li>

            <li>
              <p id="dockerText" class="textExpe">&#8226; </p>
              <img src="images/icons/docker-compose.jpg" class="iconExpe" id="compose" alt="compose">
            </li>

            <li>
              <p id="swarmText" class="textExpe">&#8226; Swarm </p>
              <img src="images/icons/swarm.png" class="iconExpe" id="swarm" alt="swarm">
            </li>

            <li>
              <p id="kubernetesText" class="textExpe">&#8226; </p>
              <img src="images/icons/kubernetes.png" class="iconExpe" id="kubernetes" alt="kubernetes">
            </li>

          </ul>
        </div>
      </div>


    </div>




  </div>
</div>



<div class="container">
  <h2>칔ltimas publicaciones </h2>
</div>

<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/Microservices">
      <h3> Creando microservicios con Nodejs y Spring boot para consulta de cryptomonedas. </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/Microservices">
          <img id="encrypto1"
            src="/images/blog/microservices.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p> Esta tarde estuve pensando en una idea para conectar tres microservicios utilizando dos lenguajes de
          programaci칩n diferentes, es decir, java y javascript con sus respectivos frameworks, nodejs y spring boot.

          Para ello considere que seria sencillo consumir la APIS p칰blicas de precios de criptomonedas de la API de
          Bitso, donde el servicio A representa la consulta de precio de BTC, el servicio B la consulta de precio de ETH
          y un tercero que representar치 el gateway pasa consumir el servicio A y B y arrojar una sola respuesta con el
          payload de A y B...
        </p>
        <hr id="barra">

        <span>29-07-2020</span>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/KoaElastic">
      <h3>Nodejs con ElasticSearch. </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/KoaElastic">
          <img id="encrypto1"
            src="https://res.cloudinary.com/ddnlc2jur/image/upload/v1550128042/oscarcode/nodejs-elasticsearch.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p> Hace tiempo que no escrib칤a algo para el blog, en los 칰ltimos meses he estado muy ocupado con la
          universidad, cosas de trabajo, en mis proyectos personales o entretenido en alg칰n otro hobbie como patinando o
          perdiendo tiempo viendo series y ya no me he dado el tiempo de escribir para el blog...
        </p>
        <hr id="barra">

        <span>14-02-2018</span>

      </div>

    </div>
  </div>
</div>



<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/restfull">
      <h3>El arte de construir software (RESTFULL) </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/restfull">
          <img id="encrypto1" src="https://res.cloudinary.com/ddnlc2jur/image/upload/v1548315200/infographic-3.png">
        </a>

      </div>
      <div class="card-content darkTema">
        <p> Construir un software es todo un arte y es tan parecido a mantener un jard칤n, hay mejores jardines que
          otros, algunas creaciones
          simplemente son impresionantes, complejas y super bonitas, otros simplemente mueren al cabo de unas semanas,
          marchitan
          al cabo del tiempo, en el software es exactamente lo mismo, existen diferentes arquitecturas, patrones de
          dise침o,
          metodolog칤as y buenas pr치cticas para conseguir esas estructuras bonitas y robustas que tanto apreciamos y nos
          gustan....
        </p>
        <hr id="barra">

        <span>15-07-2018</span>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/aboutReact">
      <h3>React, el state, los props y todo lo dem치s.</h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/aboutReact">
          <img width="100%" id="encrypto1"
            src="https://res.cloudinary.com/dqkikety1/image/upload/q_56/v1524877969/c27c43dcbfef11d6367e078da01ae6fc.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Hace tiempo que que quer칤a escribir algo para el sitio, pero no me daba el tiempo por la universidad y el
          trabajo
          y todas esas cosas que decimos que nos mantienen ocupados, pero hoy sacrifique una una pel칤culas para darme el
          chance de hablar un poco sobre Reactjs...
        </p>
        <hr id="barra">

        <span>28-04-2018</span>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/cyptoOscarCode">
      <h3>M칤 primer algoritmo de encriptado </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/cyptoOscarCode">
          <img id="encrypto1" src="images/encrypto1.png">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Hoy estaba muy aburrido en la universidad entonces record칠 que el profesor de seguridad inform치tica nos hab칤a
          dejado
          un trabajo, el trabajo consisti칩 en crear nuestro propio algoritmo de encriptaci칩n entonces me puse pensar en
          uno
          algoritmo para encriptar strigs....
        </p>
        <hr id="barra">

        <span>10-02-2018</span>

      </div>

    </div>
  </div>
</div>



<style>
  .expe {
    width: 100%;
  }
</style>



<div class="container correo center ">
  <div id="correo" class="row center">
    <h2>Enviame un correo :3 </h2>
  </div>
  <form id="addProductForm" enctype="multipart/form-data">
    <div class="row ">
      <div class="input-field col s12 m12 l6 offset-l3">
        <input id="nombre" class="validate" type="text" name="nombre">
        <label for="nombre">Nombre</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l6 offset-l3">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l6 offset-l3">
        <textarea id="textarea12" class="materialize-textarea" name="requerim"></textarea>
        <label for="textarea12">Contenido</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12 offset-13">
        <a class="waves-effect waves-light btn-large enviar">Enviar</a>
      </div>
    </div>
  </form>
</div>
</div>


<style>
  .expe {
    background-color: black;
    color: white;
        width: auto;
  }
</style>
<script>
  $(document).ready(function () {




    $('.parallax').parallax();


    $('.enviar').click(function () {

      var formElement = document.getElementById('addProductForm');

      Materialize.toast('El correo se esta enviado, por favor espere', 4000);



      fetch('/send', {
        method: 'POST',
        body: new FormData(formElement)
      })
        .then(res => res.json())
        .then((res) => {

          Materialize.toast(res.message, 3000)
          $('#email').val('')
          $('#nombre').val('')
          $('#textarea1').val('')


        }
        )
        .catch(function (e) {
          Materialize.toast(e, 3000)
          $('#email').val('')
          $('#nombre').val('')
          $('#textarea1').val('')
        })
    })
  });

  (function ($) {
    var aiMsg = ["Bienvenido a mi blog.", "I love coding 游땘", "Oscar code n.n/"];
    var i = 0;
    $(document).ready(function () {
      var inputAI = $("#reg_ai");

      aiMSGLoop(aiMsg);
      function aiMSGLoop(wordArray) {
        // store new element so AI knows where to write
        var newElement = $("<h1></h1>").appendTo(inputAI);
        if (i < aiMsg.length) {
          //my type writer uses object function so no need to code 
          //long function every time
          newElement.writeText(wordArray[i]).then(function () {
            setTimeout(function () {
              newElement
                .removeText(wordArray[i])
                .then(function () {
                  i++;
                  aiMSGLoop(wordArray);

                });
            }, 2500);
          });
        } else {
          i = 0;
          aiMSGLoop(wordArray);
        }

      }
    });
    //AI Text typer
    $.fn.writeText = function (content) {
      var elem = this;
      elem.addClass("typewriter");
      return new Promise(function (resolve, reject) {
        var contentArray = content.split(""),
          current = 0;
        var rand = 90;
        setInterval(function () {
          rand = Math.round(Math.random() * (300 + 1050));
          if (current < contentArray.length) {
            elem.text(elem.text() + contentArray[current++]);
          } else {
            resolve();
          }
        }, rand);
      });
    };
    //AI Text Typer backspace
    $.fn.removeText = function (content) {
      var elem = this;
      return new Promise(function (resolve, reject) {
        var contentArray = content.split("");
        var current = 0;
        setInterval(function () {
          if (current < contentArray.length) {
            elem.text(elem.text().slice(0, -1));
            current++;
          } else {
            elem.remove();
            resolve();
          }
        }, 70);
      });
    };
  })(jQuery);


</script>