<img width="100%" src="https://res.cloudinary.com/dqkikety1/image/upload/q_100/v1524891138/Oscar.jpg">

<div class="row center">
  <h2>¿Que es Oscar Code?</h2>
</div>

<pre><code class="language-javascript">
    function Bienvenidos() {
      if (Coffee.IsReady) {
        console.log("Bienvenidos a mi web");
        return true;
      }else {
        console.log("Lo siento, no puede navegar por aqui");
        return false;
    }
     
</code></pre>


<div class="container ">

</div>
<div class="row">
  <div class="col s12 m12 l4 ">
    <div class="card">
      <div class="card-image darkTema">
        <a href="/blog">
          <img src="images/blog.jpg">
        </a>
      </div>
      <div class="card-content darkTema">
        <p>Blog personal, aquí es donde publico temas relacionados con las tecnologías que conozco así como las cosas que estoy
          aprendiendo. También publico cosas personales relacionadas con libros, películas, viajes, ideas, en general temas
          que me interesan.</p>
      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/blog">Ir al blog</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l4">


    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/Proyectos">
          <img src="images/proyectos.jpg">
        </a>
      </div>
      <div class="card-content darkTema">
        <p>Apartado para presentar mis diferentes proyectos, se da una breve explicación sobre el proyecto así como las metodologías
          y tecnologías usadas.Publico proyectos personales como profesionales.</p>
      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/Proyectos">Ir a proyectos</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/codeLife">
          <img src="images/sample-1.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Aqui publicaré experimentos y cosas que hago con programación web, compartir el código para que otros puedan hacer
          lo mismo.
        </p>

      </div>
      <div class="card-action text darkTema">
        <a class="textLink" href="/codeLife">Code life</a>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <h3>Experiencia profesional</h3>

  <img class="expe" src="img/expe.png" alt="expe">
</div>

<div class="container">
  <h2>Últimas publicaciones </h2>
</div>

<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/restfull">
      <h3>El arte de construir software (RESTFULL) </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/restfull">
          <img id="encrypto1" src="https://res.cloudinary.com/ddnlc2jur/image/upload/q_40/v1531684410/5b168acf9b9797456c35d48a63921470.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Connstruir un software es todo un arte y es tan parecido a construir un edificio, hay mejores creaciones que otras,
          algunas creaciones simplemente son impresionantes y complejas, otras simplemente se derrumban al tocarlas, en el
          software es exactamente lo mismo....
        </p>
        <hr id="barra">

        <span>15-07-2018</span>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/aboutReact">
      <h3>React, el state, los props y todo lo demás.</h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/aboutReact">
          <img width="100%" id="encrypto1" src="https://res.cloudinary.com/dqkikety1/image/upload/q_56/v1524877969/c27c43dcbfef11d6367e078da01ae6fc.jpg">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Hace tiempo que que quería escribir algo para el sitio, pero no me daba el tiempo por la universidad y el trabajo
          y todas esas cosas que decimos que nos mantienen ocupados, pero hoy sacrifique una una películas para darme el
          chance de hablar un poco sobre Reactjs...
        </p>
        <hr id="barra">

        <span>28-04-2018</span>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <a href="/cyptoOscarCode">
      <h3>Mí primer algoritmo de encriptado </h3>
    </a>

    <div id="cardtext" class="card">
      <div class="card-image darkTema">
        <a href="/cyptoOscarCode">
          <img id="encrypto1" src="images/encrypto1.png">
        </a>

      </div>
      <div class="card-content darkTema">
        <p>Hoy estaba muy aburrido en la universidad entonces recordé que el profesor de seguridad informática nos había dejado
          un trabajo, el trabajo consistió en crear nuestro propio algoritmo de encriptación entonces me puse pensar en uno
          algoritmo para encriptar strigs....
        </p>
        <hr id="barra">

        <span>10-02-2018</span>

      </div>

    </div>
  </div>
</div>



<style>
  .expe {
    width: 100%;
  }
</style>



<div class="container correo center ">
  <div id="correo" class="row center">
    <h2>Enviame un correo :3 </h2>
  </div>
  <form id="addProductForm" enctype="multipart/form-data">
    <div class="row ">
      <div class="input-field col s12 m12 l6 offset-l3">
        <input id="nombre" class="validate" type="text" name="nombre">
        <label for="nombre">Nombre</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l6 offset-l3">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l6 offset-l3">
        <textarea id="textarea12" class="materialize-textarea" name="requerim"></textarea>
        <label for="textarea12">Contenido</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12 offset-13">
        <a class="waves-effect waves-light btn-large enviar">Enviar</a>
      </div>
    </div>
  </form>
</div>
</div>



<script>
  $(document).ready(function () {




    $('.parallax').parallax();


    $('.enviar').click(function () {

      var formElement = document.getElementById('addProductForm');

      Materialize.toast('El correo se esta enviado, por favor espere', 4000);



      fetch('/send', {
        method: 'POST',
        body: new FormData(formElement)
      })
        .then(res => res.json())
        .then((res) => {

          Materialize.toast(res.message, 3000)
          $('#email').val('')
          $('#nombre').val('')
          $('#textarea1').val('')


        }
        )
        .catch(function (e) {
          Materialize.toast(e, 3000)
          $('#email').val('')
          $('#nombre').val('')
          $('#textarea1').val('')
        })
    })
  });

</script>