<div class="parallax-container">
  <div class="parallax"><img src="https://qzprod.files.wordpress.com/2017/01/programmers-data-rescue-climate-data-e1484953294679.jpg?quality=80&strip=all&w=1600"></div>
</div>

<div class="container">
  <div class="row">
    <h1>Sobre Oscar Martínez</h1>
  </div>
  <div class="row card-panel blue lighten-5">
    <p class="flow-text">
      Mi nombre es <strong>Oscar Martínez Martínez</strong> nací allá por 1997, hace unos 20 años atrás. Desde pequeño sabía
      que quería hacer cosas grandes y complejas, llegué a pensar en ser astrofísico, ingeniero civil, matemático, etc, pero
      entonces en preparatorio conocí el bonito mundo de la programación y desde ahí me enganche (siempre fui demasiado nerd)
      y desde entonces no he dejado de aprender, así que decidí estudiar algo que estuviera muy relacionado con la programación
      , entonces me decidí por estudiar sistemas, actualmente curso sexto cuatrimestre en la Universidad Politécnica de Aguascalientes
      en la facultad de Ingeniería en Sistemas Estratégicos de la Información, estuve un tiempo (9 meses) desarrollando 
      mis habilidades profesionales en una empresa llamada ICMA donde aprendí un
      montón de cosas del  mundo de la tecnología de Microsoft, para ser especifico  C# para el desarrollo de programas de escritorio.|
    </p>
    <p class="flow-text">
      Paralelamente me dedico a fotografiar eventos y filmarlos, realizar toda la edición de video así como de la fotografía. Mi
      nuevo proyecto llamado Ovents, se basa inicialmente en esta “profesión” que realizó paralelamente y de alguna forma
      unificar las cosas, mi idea es crear una compañía aplicando mis conocimientos del desarrollo de software, fotografía
      y video para iniciar el camino del emprendimiento.
    </p>

    <h2>I love JavaScript &hearts;</h2>
    <p class="flow-text">
      En mi tiempo libre me dedico a aprender sobre tecnologías web y gran mundo de JavaScript, me considero muy autodidacta 
      en este lenguaje de programación,
       de hecho puedo decir que aprendo mas cosas en internet, libros y que en la propia universidad..
    </p>
    <p class="flow-text">
      JavaScript es mi lenguaje de programación favorito, aunque claro, no me cierro a otras tecnologías, me gusta aprender sobre todo,
      me gusta saber sobre muchas cosas, en la parte del blog voy a hacer publicaciones muy seguidas
      relacionado con JavaScript, trataré temas propias del lenguaje, front-end y back-end. Principalmente voy a escribir
      sobre NodeJS y tecnologías de desarrollo moderno.
    </p>
  </div>
</div>

<script>$(document).ready(function () {$('.parallax').parallax();})</script>