<input id="notification-payload" placeholder="notification-payload" type="text">
<input id="notification-delay" type="number">
<input id="notification-ttl" type="number">

<button id="doIt">Send U</button>

<script>

  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('./worker.js').then((reg) => {
        // Registration was successful
        console.log(reg)
      }).catch(err => {
        console.log('ServiceWorker registration failed: ', err)
      })
    })
  }

  if (Notification.permission === 'granted') {
    navigator.serviceWorker.getRegistration().then(reg => {
      reg.showNotification('Hello word');
    })
  } else {
    Notification.requestPermission((status) => {
      console.log(status);


    });

  }

    /*
    const ini = document.querySelector('#ini');
    const det = document.querySelector('#det');
    let myWorker;
    myWorker = new Worker('worker.js');
        myWorker.onmessage = (e)=>{
            console.log(e);
            document.querySelector('#numero').innerHTML = e.data;
        }

    ini.addEventListener('click', ()=>{
        myWorker = new Worker('worker.js');
        myWorker.onmessage = (e)=>{
            console.log(e);
            document.querySelector('#numero').innerHTML = e.data;
        }

    });

    det.addEventListener('click', ()=>{
        myWorker.terminate();
        myWorker = undefined;
    })*/

</script>