nav#navegador {
  color: #fff;
  background-color: #000000;
  width: 100%;
  height: 66px;
  line-height: 56px;
  transition:.5s;
}
.navegador{
  z-index: 10000;
  position: fixed;
}

#codeID{
    font-size: 1em; 

}
#numLikes:hover{

  cursor: pointer;
}
.container.correo{
  width: 100%;
}

nav#navegador :hover {
  color: #039be5;
  transition: .3s;
  background-color: rgb(0, 20, 26);
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #000000;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #00C7FF;

}
hr#barra{
  color: #00C7FF;
  size: 1em;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.3em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

#blogID {
  position: relative;
  overflow: hidden;
  height: 350px; }
  
#comment {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: black;
    color: #f8f8f2;

}
#black-text {
  color: #fff !important;
}
#textarea1{
  color: #fff !important;
}
.tecnologiaUsada{
  width: 100%;
  height: auto;
  padding: 10px;
}
.node{
  width: 180px;
  height: 80px;
  padding: 10px;
  top: 50%;

}
.icma{
  padding: 20px;
  -webkit-box-shadow: 6px 7px 13px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 13px 3px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 13px 3px rgba(0,0,0,0.75);
}
a img#encrypto1 {
  height: auto;
  width: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

img.ReactJSEXAMPLE {
  height: auto;
  width: 90%;
}

.deleteById {
  float: right;
}

 

.itemEmail {
  border: 1px solid rgb(65, 195, 255);
  padding: 20px;
}

.logoPartsBase { 
  padding: 10px;
  display: inline;
}


.card .card-image .imgPoryects {
  width: auto;  
  height: 476px;
  margin-right: auto;
  margin-left: auto;
}


.welcome {


  font-family: 'Open Sans', sans-serif;
  font-family: 4em;


}

#encryptImg {
  width: 100%;
  height: auto;

}

#encryptFileInput::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: .6;
}

#encryptFileInput:-moz-placeholder {
  /* FF 4-18 */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#encryptFileInput::-moz-placeholder {
  /* FF 19+ */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#encryptFileInput:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#encryptFileInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#encryptFileInput::placeholder {
  /* modern browser */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput:-moz-placeholder {
  /* FF 4-18 */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput::-moz-placeholder {
  /* FF 19+ */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0);
  opacity: .6;
}

#dencryptFileInput::placeholder {
  /* modern browser */
  color: rgb(0, 0, 0);
  opacity: .6;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.btnencrypt {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}


#sendFileDencrypt {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btndencrypt {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;

}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

button#sendFile {
  float: left;
}

.btnencryptSendFile {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  button#sendFile {
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  .upload-btn-wrapper {
    float: left;
   
  }
}


